* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  overflow: hidden;
}
#canvas {
  background: rgb(59, 125, 59);
  background: linear-gradient(
    0deg,
    rgba(59, 125, 59, 1) 0%,
    rgba(0, 0, 0, 1) 8%,
    rgba(64, 64, 64, 1) 67%
  );
}
#sub_canvas {
  position: absolute;
  top: 0px;
  left: 0px;
}
#change-color {
  background: rgb(59, 125, 59) !important;
  background: linear-gradient(
    0deg,
    rgba(59, 125, 59, 1) 0%,
    rgba(100, 157, 100, 1) 46%,
    rgba(143, 190, 143, 1) 75%
  ) !important;
}

.hidden {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
.popup {
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 30%;
  position: relative;
  transition: all 5s ease-in-out;
}

.popup h3 {
  margin: 10px 0;
  color: rgb(20, 143, 119);
}
.popup .close_popup {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup .close_popup:hover {
  color: #06d85f;
  cursor : pointer;
}
.popup .popup_content {
  max-height: 30%;
  overflow: auto;
  font-size: 14px;
}
footer {
  position: absolute;
  color: rgb(0, 125, 20);
  width: unset !important;
}

@media only screen and (max-width: 768px) {
  span {
    font-size: 10px;
  }
  img {
    width: 60px !important;
  }
  .popup {
    width: 70%;
  }
}
