:root {
  --main-book-color: #e91e63;
  --sub-book-color: #6e102f;
  --main-bg-color: #00316b;
  --main-text-color: #fef5f8;
  --main-font-family: 'Dancing Script', cursive;
  --main-border-color: rgb(251, 210, 224);
  --main-boxShadow-color: rgb(54, 0, 21);
  --main-textShadow-color: green;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  overflow: hidden;
  background-color: var(--main-bg-color);
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -ms-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}
body > img{
  position: fixed;
  top: 0;
  left: 0;
  height: auto;
  width: 100%;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.25;
  -webkit-background-size: cover;
  /* -moz-background-size: cover; */
  -o-background-size: cover;
}

#sub_canvas {
  position: absolute;
  top: 0px;
  left: 0px;
}
#canvas{
  position: sticky;
  z-index: 999;
  backface-visibility: visible;
}
.intro_card {
  width: 30%;
  height: 65%;
  position: absolute;
  visibility: visible;
  opacity: 1;
  top: 50%;
  left: 50%;
  margin: 0;
  transform: translate(-50%, -50%);
  -webkit-transition: all 700ms ease-in-out;
  -moz-transition: all 700ms ease-in-out;
  -ms-transition: all 700ms ease-in-out;
  -o-transition: all 700ms ease-in-out;
  transition: all 700ms ease-in-out;
  z-index: 9999;
}
.page{
  /* transform-style: preserve-3d; */
  transform-origin: left center;
}
.page, .border_card{
  border-top-right-radius:8px;
  border-bottom-right-radius:8px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;

}
.font_card{
  text-align: center;
  box-shadow: 5x 5px 7px var(--main-boxShadow-color);
  position: absolute;
  height: 100%;
  width: 99%;
  transform: skewY(-2deg) translateY(-1px);
  background: var(--main-book-color);
  z-index: 99999;
}
.border_card{
  width: 90%;
  height: 90%;
  margin: 5%;
  border: 4px double var(--main-border-color);
  border-left: 2px dashed var(--main-border-color);
}
.back_card{
  box-shadow:4px 7px 10px var(--main-boxShadow-color);
  position: absolute;
  height: 100%;
  width: 100%;
  background: var(--sub-book-color);
}
.font_card .card_top {
  font-family: var(--main-font-family);
  padding-top: 10px;
  color: #aeffd0;
  font-weight: bolder;
  text-shadow: 3px 2px 3px var(--main-textShadow-color);
}
.font_card .card_center img{
  width: 80%;
  height: 50%;
  border-radius: 8px;
  margin: 10px;
  opacity: 0.6;
  box-shadow: inset 3px var(--main-boxShadow-color);
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -ms-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}
.card_btn{
  text-align: center;
  margin: auto;
}
.card_btn .open_btn{
  padding: 10px 20px;
  border-radius: 6px;
  cursor: pointer;
  background-color: #5b9675;
  border: none;
  box-shadow: 2px 4px 15px #1e3528;
  color: var(--main-text-color);
  font-family: var(--main-font-family);
  font-size: 19px;
  font-weight: bold;
}
.intro_card:hover .font_card{
  transform: skewY(-6deg) rotate3d(0,1,0,17deg) ;
}
.intro_card:hover .font_card img{
  opacity: 1;
  box-shadow: -5px 7px 10px rgb(255, 164, 243), 5px -7px 10px rgb(255, 164, 243);
}
.card_btn .open_btn:hover{
  background-color:  #4c7c61;
  box-shadow:3px 5px 15px #1e3528;
}
.hidden{
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
  z-index: 9999;

}
.popup{
  margin: 70px auto;
  padding: 20px;
  background:var(--main-book-color);
  border-radius: 5px;
  width: 30%;
  position: relative;
  transition: all 5s ease-in-out;
  z-index: 9999;
  color: var(--main-text-color);
}
.popup h3 {
  margin: 10px 0;
  color: #06d85f;
}
.popup .close_popup {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup .close_popup:hover {
  color: #06d85f;
  cursor: pointer;
}
.popup .popup_content {
  max-height: 30%;
  overflow: auto;
  font-size: 14px;
}
footer {
  position: absolute;
  color: rgb(115, 146, 172);
  width: unset !important;
}
@media only screen and (max-width: 812px) {
  span {
    font-size: 10px;
  }
  footer img {
    width: 60px !important;
  }
  .popup {
    width: 70%;
  }
  .card_box{
    width: 90%;
  }
}